.wrapper {
    text-align: center;
    padding: 20px;
}

.searchHeader {
    text-shadow: 2px 2px 2px rgb(31, 189, 42);
}

.recipeCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
   
}

.recipeCard {
    width: 280px;
    transition: box-shadow 0.3s ease;
    border: 5px sloid green;
}

.recipeCard:hover {
    box-shadow: 10px 20px rgba(0, 0, 0, 0.1);
}

.recipeTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(11, 146, 20);
    
}

.img {
    border-radius: 5px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.serach-input {
    background-color: rgb(188, 230, 191);
   
}



/*----------Original CSS code-----------------*/
/* .wrapper{
    text-align: center;
    
}


.recipeCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
   
}

.recipeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 200px;
}

.recipeTitle {
    font-family: "Noconsequence";
    color: rgb(48, 48, 48);
    margin: 20px;
    padding: 20px;
}

img {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.1);
}

.pagination {
    margin-left: 37%;
   
} */
