/* @font-face {
  font-family: "chlorinar";
  src: url("../../../public/chlorinar.ttf");
} */

/* @font-face {
  font-family: "Most Wazted";
  src: url("../../../public/Most\ Wazted.ttf");
} */

/* @font-face {
  font-family: "Simpsonfont";
  src: url("../../../public/Simpsonfont.ttf");
} */

@font-face {
  font-family: "Noconsequence";
  src: url("../../../public/Noconsequence.ttf");
}

html,
body,
#react-root {
  height: 100%;
  font-family: "Noconsequence";
  color: antiquewhite;
}

body {
  /* font-family: "chlorinar"; */
  margin: 0px;
  flex-flow: row;
}

img {
  display: inline-block;
  flex-direction: row-reverse;
  max-width: 100%;
}


/*-------------------------------------------------------------
Styling for redipe cards
--------------------------------------------------------------*/
.card-border {
  border: solid 2px black;
  margin: 5px;
  width: fit-content;
  flex-flow: column;
  
  
}
.card-bottom {
  height: 60px;
}
.card-container {
  flex-wrap: wrap;
  display: flex;
}





/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
  font-family: "Noconsequence";
  font-weight: bold;
  font-size: large;
  color: antiquewhite;
  margin-left: 32%;
  margin-top: 40px;
 
}
.about-me {
  color: antiquewhite;
  font-family:"Noconsequence";
  text-align: center;
}
.profile-img {
  float: left;
  width: 45%;
  height: 40p;
  animation: fadeIn 5s;
}
@keyframes fadeIn {
 0% { opacity: 0;}
 100% {opacity: 1;}
}
.about-ptag {
  color: rgb(23, 218, 23);
  font-family:'Times New Roman', Times, serif;
  animation: fadeIn 5s;
}

.info-ptag {
  color: rgb(23, 218, 23);
  text-decoration: underline;
}

.tech-tag {
  color: rgb(23, 218, 23);
  text-decoration: underline;
}
.challenge-tag {
  color: rgb(23, 218, 23);
  text-decoration: underline;
}

.shoutout-tag {
  color: rgb(23, 218, 23);
  text-decoration: underline;
}

.login-header {
  color:antiquewhite;
  /* color: rgb(31, 10, 124); */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.info-page {
  color:antiquewhite;
}



/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #084e4f;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  height: 40px;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 100px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.7rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
  
}

.btn:hover {
  background-color: #0b6364;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-radius: 10px;
  border: 2px solid rgb(10, 180, 186);
  background: none;
  font: inherit;
  color: #b91f1f;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #066565;
  color: #0aa9ac;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  justify-content: center;
  width: 500px;
  max-width: 100%;
  padding: 25px;
  padding-bottom: 10px;
  margin: 0 auto 20px;
  color: rgb(254, 145, 3);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  background-image: url('/public/images/my_dream_kitchen.jpeg');
  background-size: cover;
 
}

input {
  margin: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

/* --------------------------------------------------------------------------------
Navbar
-------------------------------------------------------------------------------- */

.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color:#045d0c;
  color: antiquewhite;
  box-shadow: 0 2px 2px 2px #A7CDCC;
}
.brand-name {
  text-decoration: none;
  color: #FFA372;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ED6663;
  font-size: 24px;
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 0;
}
.btn-navLink {
  display: inline-block;
  background-color:#44d668;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}
.brand-logo {
  height: 25px;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  cursor: pointer;
  display: flex;
  padding: 0;
}
.navigation-menu li {
  /* // removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0 1rem;
  color:  #9fe7ef;
}
.navigation-menu.expanded li {
  display: block;
  padding: 24px 10px;
  color:  antiquewhite;
  font-size: large;
}
.hamburger {
  /* // removes default border on button element */
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(4, 79, 75);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* // posi tions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #077c8f;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
    /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;
    top: 60px;
    left: 0;
    /* // stacks the li tags vertically  */
    flex-direction: column;
    /* // makes menu span full height and width */
    width: 100%;
    height: calc(100vh - 45vh);
    background-color:#045d0c;
    border-top: 1px solid#0adf1c;;
  }
  .navigation-menu li {
    /* // centers link text and strips off margin */
    text-align: center;
    margin: 0;
    color: #FFA372;
  }
  .navigation-menu li:hover {
    background-color:#045d0c;
  }
  .navigation-menu.expanded ul {
    display: block;
    color: #FFA372;
  }
}







