body {
    background-color: rgb(4, 79, 75);
    
}

  
.image-border {
    border: 2px solid black;
    width: fit-content;
}

.inspire-tag {
  font-family: "Noconsequence";
}

 .back-btn {
    width: fit-content;
    height: 30px;
    margin: 5px;
  }
  .delete-btn {
    width: 30%;
    height: 30px;
    margin: 5px;
    background-color: #e01616;
  }
  
  .edit-btn {
    width: 30%;
    height: 30px;
    margin: 5px;
  }
  
  .add-btn {
    width: fit-content;
    height: 30px;
    margin: 5px;
  } 
