body {
     background-color: rgb(239, 234, 191);
    
}


  
.image-border {
    border: 2px solid black;
    width: fit-content;
    border-radius: 5px;
    margin-left: 50px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}



 .back-btn {
    width: fit-content;
    height: 30px;
    margin: 5px;
  }
  .delete-btn {
    width: 30%;
    height: 30px;
    margin: 5px;
  }
  
  .edit-btn {
    width: 30%;
    height: 30px;
    margin: 5px;
  }
  
  .add-btn {
    width: fit-content;
    height: 30px;
    margin: 5px;
  } 
